body {
    padding-top: 50px;
}

.hidden {
    display: none !important;
}

.center {
    margin-top: 150px !important;
}

.trans {
    transition: all 0.4s ease 0s;
}

.search-form-row {
    padding: 40px 15px;
    text-align: center;
}

.result-row {
    padding: 0px 15px;
    text-align: center;
}

.brand-row {
    font-family: museo-slab,Georgia,"Times New Roman",Times,serif;
    font-weight: 500;
    font-size: 80px;
    text-align: center;
    /*text-shadow: 4px 3px 0 #fff, 9px 8px 0 rgba(0, 0, 0, 0.15);*/
    text-shadow: 1px 1px 0px #FFF, 3px 3px 0px rgba(0, 0, 0, 0.15);
    margin-top: -110px;
}

#btn_login {
    display: none;
}

.brand-row > span > i {
    color: #428bca;
}

.login-form {
    padding: 20px;
}

.login-input {
    padding: 10px 15px;
}

.user-img  {
    width: 170px;
    height: 170px;
}

#resultWell > .well {
    min-height: 200px;
}

.userWell {
    background-color: white;
    width: 480px;
    min-height: 190px;
    margin: 10px;
    transition: background-color 0.4s ease 0s;
    overflow-y: auto;
}

.userInfo {
    position: absolute;
    left: 200px;
    top: 20px;
}

/* Display of Query and History  */

.query {
    border-bottom: solid 2px lightgrey;
    padding: 5px;
    margin-bottom: 20px;
}

.query > b {
	margin-bottom: 10px;
}

.subQueryList {
	list-style: none outside none;
	display: inline;
}

.subQueryList > li {
	display: inline-block;
	margin: 3px 4px;
}

.subQuery {
	color: lightgrey;
	display: inline-block;
	padding-left: 15px;
	line-height: 31px;
}

.subQuery > i {
	opacity: 0;
	padding: 0 5px;
	color: lightgrey;
}

.subQuery > i:hover{
	color: #333;
} 

.subQuery:hover {
	color: #333;
	cursor: pointer;
    background-color: #e7e7e7;
}

.active.subQuery {
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadox: 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: background-color 0.4s ease 0s;
	transition: border 0.15s ease 0s;
	color: #333;
}

.tag.subQuery {
	background-color: #428bca;
	border: 1px solid #357edb;
	border-radius: 4px;
	box-shadox: 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: background-color 0.4s ease 0s;
	transition: border 0.15s ease 0s;
	color: #fff;
	padding: 0 3px;
}

.tag.subQuery > i {
	opacity: 1;
	color: #fff;
}

.tag.subQuery > i:hover {
	color: #fff;
}

form.tagForm {
	margin: 0;
	display: inline;
	padding: 0 3px;
}

.queryHistory {
	margin: 10px auto;
	display: inline-block;
}

.active.subQuery:hover {
	border: thin solid #aaa;
}

.active.subQuery > i {
	opacity: 1;
}

.mainQuery > .well {
    padding: 5px;
}

.userWell:hover {
    background-color: #e9e9e9;
}

.token {
    font-weight: bold;
    color: grey;
}

.history {
    list-style-type: none;
}

#historySelector {
    margin-bottom: 20px;
}




.tag-search-row{
    width: 70%;
    height: 90%;
    margin: 10px auto 0 auto;
}

.user-div-tags{
    margin-top: 15px;
}

.tags-icon {
    background-size: 100% 100%;
    width: 28px;
    height: 28px;
    float: left;
    margin: 0px 8px 0px 0px;
    cursor: pointer;
}

.tags-icon-default {
    background-image: url(../imgs/tag-icon-default.png);
}

.tags-icon-spinner {
    background-image: url(../imgs/tag-icon-spinner.gif);
}

.tags-text {

}